<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template is working</title>
</head>
<body>
<!--h1>hello from templates</h1>
this is {{name}} from {{place}}-->
<h2>Welcome and give your text below</h2>

<form action="/analyseb" method="get">
    <textarea name = 'text' style="margin: 0px; width: 720px; height: 100px;"></textarea><br>
    <input type="checkbox" name="removepunc">Remove Punctuations<br>
    <input type="checkbox" name="caps">UPPERCASE<br>
    <input type="checkbox" name="nlr">New Line Remover<br>
    <input type="checkbox" name="spacere">Remove Space<br>
    <input type="checkbox" name="exspacere">Remove Extra Space<br>
    <input type="checkbox" name="charcount">Count the Charcters<br>
    <button type=" submit">Analyze Text</button>
</form>

</body>
</html>